body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(121% 174.48% at 109.92% 49.64%, #faf5ef 0, #f024f6 34.5%, #9a08f9 63%, #8200fa 100%);

    @media (max-width: 768px) {
        align-items: flex-start;
        padding: 16px;
        margin: 0;
    }
}

canvas {
    max-width: 100%;
    background-color: white;
}

button {
  margin: 0 5px;
  padding: 5px 15px;
  cursor: pointer;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  margin-block-end: 16px;
  text-transform: uppercase;
}

.description {
    margin-block-start: 24px;

    p {
        padding: 0;
        margin: 0;
        color: white;
        font-size: 16px;
        text-align: left;
        margin-block-end: 24px;
        line-height: 1.5;
    }
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

h1 {
    color: white;
    font-size: 36px;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 24px;

    @media (max-width: 768px) {
        margin-block-end: 12px;
        font-size: 24px;
    }
}